@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  margin: 0;
  padding: 0;
}
.app {
  min-height: 100vh;
  max-height: auto;
  background-color: orange;
}

#file[type="file"] {
  display: none;
}
.label-holder {
  width: 100%;
  height: 20px;
  margin-top: 3em;
  display: grid;
  place-items: center;
  /* background-color: red; */
}
.label {
  height: 50px;
  width: 500px;
  background-color: #8054d4;
  color: white;
  display: grid;
  place-items: center;
  font-size: 14px;
  cursor: pointer;
}

.result {
  min-height: 100%;
  max-height: auto;
  width: 100%;
  /* background-color: blue; */
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

img {
  width: 320px;
  height: 180px;
  object-fit: cover;
  padding: 0.75rem;
}

.profileTag {
  display: flex;
  margin-left: 40px;
  margin-top: 36px;
  align-items: center;
  font-weight: 500;
  color: indigo;
}

.profileDesc {
  display: flex;
  margin-top: 36px;
  align-items: center;
  /* background-color: yellow; */
}

.selectContainer {
  width: 160px;
}

.textareaContainer {
  resize: "none";
  border: "2px solid #ccc";
  border-radius: "4px";
}

.containerx {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  border-color: #8054d4;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.containerx_sm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  /* padding: 20px; */
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  border-color: #8054d4;
  background-color: #ffffff;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.container2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  border-color: #8054d4;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.hl {
  border-top: 1px solid lightgray;
  width: 60px;
  margin-top: 10px;
}

.h2 {
  border-top: 1px solid lightgray;
  width: 900px;
  margin-top: 10px;
}

.flexfooter {
  flex: 1;
  background-color: pink;
}

.my-swal {
  z-index: 100000 !important;
}

.labarugi {
  margin-top: 12px;
}

.labarugi2 {
  margin-top: 12px;
  font-weight: 700;
  justify-content: space-between;
  flex-direction: row;
}

.labarugi3 {
  font-size: small;
  justify-content: space-between;
}

.container_statistik_sm {
  margin-top: 16px;
  margin-left: 16px;
  height: 12vh;
  width: 100%;
  padding-left: 14px;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.container_statistik_sm_2 {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  height: 12vh;
  /* width: 100%; */
  padding-left: 14px;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.container_statistik_md {
  margin-top: 36px;
  padding-top: 28px;
  height: 250px;
  width: 535px;
  padding-left: 14px;
  flex-direction: column;
  align-items: left;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.container_statistik_lg {
  margin-top: 36px;
  padding-top: 28px;
  height: 35vh;
  width: 100%;
  padding-left: 14px;
  flex-direction: column;
  align-items: left;
  /* justify-content: center; */
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.statistik_ket {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.statistik_ket_md {
  font-size: 1.3rem;
  line-height: 1.25rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.statistik_ket_no {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  /* color: "text-primary"; */
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

@media only screen and (min-width: 768px) {
  .containerx {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    /* border-color: #8054d4; */
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
  }

  .container2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    border-color: #8054d4;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
  }
}
